
<!-- PAGE CONTAINER-->
<div class="page-container2">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop2">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

            </div>
        </div>
    </header>

    <!-- END HEADER DESKTOP-->

    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active"><a href="/AziendaCliente/aziendaClienteManagement">Azienda Cliente Management</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item active"><a href="/Progetto/progettoManagement">Progetto Management</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item active"><a href="/Dossier/dossierManagement">Dossier Management</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item active"><a href="/Fornitore/fornitoreManagement">Fornitore Management</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item active"><a href="/Fattura/fatturaManagement">Fattura Management</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item">Insert Fattura</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->

    <!-- START statistic -->
    <section>
        <div class="col-lg-6 center-block">
            <div class="card">
                <div class="card-header">NEW FATTURA</div>
                <div class="card-body card-block">
                    <form #f="ngForm">
                        <div class="form-group">
                            <label>Data Fattura</label> <input class="au-input au-input--full" type="text" name="dataFattura"
                                placeholder="Data Fattura" [(ngModel)]="insertFattura.dataFattura">
                        </div>

                        <div class="form-group">
                            <label>Numer Fattura</label> <input class="au-input au-input--full" type="text" name="numeroFattura"
                                placeholder="Numero Fattura" [(ngModel)]="insertFattura.numeroFattura">
                        </div>

                        <div class="form-group">
                            <label>Descrizione</label> <input class="au-input au-input--full" type="text" name="descrizione"
                                placeholder="Descrizione" [(ngModel)]="insertFattura.descrizione">
                        </div>

                        <div class="form-group">
                            <label>Totale Imponibile</label> <input class="au-input au-input--full" type="text" name="totaleImponibile"
                                placeholder="Totale Imponibile" [(ngModel)]="insertFattura.totaleImponibile">
                        </div>

                         <div class="form-group">
                            <label>Percentuale Ammissibile</label> <input class="au-input au-input--full" type="text" name="percentualeAmmissibile"
                                placeholder="Percentuale Ammissibile" [(ngModel)]="insertFattura.percentualeAmmissibile">
                        </div>

                        <div class="login-checkbox"></div>
                        <a href="/Fattura/fatturaManagement" type="submit" class="btn btn-secondary btn-sm" (click)="fatturaInsert(f)">Submit</a>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- END Statistic -->
    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6"></div>
                    <div class="col-xl-6"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- END PAGE CONTAINER-->
</div>