
<!-- PAGE CONTAINER-->
<div class="page-container2">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop2">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

            </div>
        </div>
    </header>

    <!-- END HEADER DESKTOP-->

    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active"><a href="/Impiegato/aziendaClienteManagement">Azienda Cliente Management</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item active"><a href="/Progetto/progettoManagement">Progetto Management</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item active"><a href="/Dossier/dossierManagement">Dossier Management</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item active"><a href="/Imipegato/impiegatoManagement">Dossier Management</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item">Insert Impiegato</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->

    <!-- START statistic -->
    <section>
        <div class="col-lg-6 center-block">
            <div class="card">
                <div class="card-header">NEW IMPIEGATO</div>
                <div class="card-body card-block">
                    <form #f="ngForm">
                        <div class="form-group">
                            <label>Nominativo</label> <input class="au-input au-input--full" type="text" name="nominativo"
                                placeholder="Nominativo" [(ngModel)]="insertImpiegato.nominativo">
                        </div>

                        <div class="form-group">
                            <label>Livello</label> <input class="au-input au-input--full" type="text" name="livello"
                                placeholder="Livello" [(ngModel)]="insertImpiegato.livello">
                        </div>

                        <div class="form-group">
                            <label>Qualifica</label> <input class="au-input au-input--full" type="text" name="qualifica"
                                placeholder="Qualifica" [(ngModel)]="insertImpiegato.qualifica">
                        </div>

                        <div class="form-group">
                            <label>Mansione</label> <input class="au-input au-input--full" type="text" name="mansione"
                                placeholder="Mansione" [(ngModel)]="insertImpiegato.mansione">
                        </div>

                        <div class="form-group">
                            <label>Titolo di Studio</label> <input class="au-input au-input--full" type="text" name="titoloDiStudio"
                                placeholder="Titolo di Studio" [(ngModel)]="insertImpiegato.titoloDiStudio">
                        </div>

                        <div class="form-group">
                            <label>Totale Ore Lavorate</label> <input class="au-input au-input--full" type="text" name="totaleOreLavorate"
                                placeholder="Totale Ore Lavorate" [(ngModel)]="insertImpiegato.totaleOreLavorate">
                        </div>
                       
                        <div class="form-group">
                            <label>Costo Lordo Annuo</label> <input class="au-input au-input--full" type="text" name="costoLordoAnnuo"
                                placeholder="Costo Lordo Annuo" [(ngModel)]="insertImpiegato.costoLordoAnnuo">
                        </div>

                        <div class="login-checkbox"></div>
                        <a href="/Impiegato/impiegatoManagement" type="submit" class="btn btn-secondary btn-sm" (click)="impiegatoInsert(f)">Submit</a>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- END Statistic -->
    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6"></div>
                    <div class="col-xl-6"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- END PAGE CONTAINER-->
</div>